.main{
  position: absolute;
  translate: -50%;
  top: 5%;
  left: 50%;
}

.profile-img{
  position: relative;
  translate: -50%;
  left: 50%;

  height: 300px;
  width: 300px;

  border-radius: 50%;

  background-position: center;
  background-size: cover;
}